p{
    color :#fff;
    font-size:16pt;
    font-weight:bold;
    font-family: "MS Pゴシック";
}

.b{
    color :#fff;
    font-size:16pt;
    font-weight:bold;
    font-family: "MS Pゴシック";
}


/*タイトル部分*/
.head {
    width: 100%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    height:100px;
    background-color:#27302e;
}

/* 2カラムサイトにする */
.wrapper {
    width: 80%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.main, .side {
    padding: 20px;
}

.main {
    background: rgb(224, 237, 255);
    width: 70%;
    margin-right: 20px;
}

.side {
    background: rgb(208, 252, 255);/*#d0fcff*/
    width: 30%;
}

.side p, ul {
    background-color: #f0f0f0;
    width: 80%;
    padding: 30px;
    justify-content: center;
}

/*フッター*/
.footer{
    width: 100%;
    display: flex;
    margin: 20px auto;
    height:150px;/*125px;*/
    background-color:#c0bdbd;
    justify-content: center;
}


/*ケータイの時，2カラムでなくなる*/
@media screen and (max-width: 1050px) {
    .wrapper {
        flex-direction: column;
        width: 100%;
    }
    .main, .side {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
    }
    .archive div {
        width: 70%;
        margin: 20px auto;
    }
    .b{
        display: none;
    }
}


/**メニューバー**/
.menu {
    max-width: 600px;
}

.menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000;
}

.menu label {
    width: 300px;
    display: block;
    margin: 0;
    padding : 15px;
    line-height: 1;
    color :#000;
    background : #d0fcff;
    cursor :pointer;
    text-align:left;
    border-bottom:3px solid #a1d0f7a6;
}

.menu input {
    display: none;
}

.menu ul {
  width: 330px;
    margin: 0px 0;
    padding: 0;
    background : #d0fcff;
    list-style: none;
    text-align:left;
}

.menu li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#change01:checked ~ #links01 li,
#change02:checked ~ #links02 li,
#change03:checked ~ #links03 li,
#change04:checked ~ #links04 li{
    height: 54px;
    opacity: 1;
}

/*メニューバー動くように*/
.sidebar__item {
    margin-bottom: 20px;
}
.sidebar__item--fixed {
    position: sticky;
    margin-bottom: 0;
    top: 10px;
    z-index: 1;
}
